<!-- Validation failure messages -->
<% if @contact.errors.any? %>
  <% @contact.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>

<h1>
  Edit contact #<%= @contact.id %>
</h1>

<hr>

<form action="/update_contact/<%= @contact.id %>" method="post">
  <!-- Label and input for name -->
  <div class="form-group">
    <label for="name">
      Name
    </label>

    <input type="text" id="name" name="name" class="form-control" value="<%= @contact.name %>">
  </div>

  <!-- Label and input for title -->
  <div class="form-group">
    <label for="title">
      Title
    </label>

    <input type="text" id="title" name="title" class="form-control" value="<%= @contact.title %>">
  </div>

  <!-- Label and input for company_id -->
  <div class="form-group">
    <label for="company_id">
      Company
    </label>

    <%=
      select_tag("company_id",
        options_from_collection_for_select(
          Company.all.order(:name), # collection to loop over
          :id, # attribute to use for the value as a symbol
          :name, # attribute to use as the content as a symbol
          Company.find(@contact.company_id).id
        ),
        {class: "form-control"}
      )
    %>
  </div>

  <input type="hidden" id="user_id" name="user_id" class="form-control" value="<%= current_user.id %>">

  <button class="btn btn-block btn-outline-secondary">
    Update contact
  </button>
</form>

<hr>

<a href="/contacts">
  Go back
</a>
