<h1>
  All contacts
</h1>

<a href="/contacts/new">
  Add a new contact
</a>

<hr>

<table class="table">
  <tr>
    <th>
      ID
    </th>

    <th>
      Name
    </th>

    <th>
      Title
    </th>

    <th>
      Company
    </th>

    <th>
      User
    </th>

    <th>
      Created at
    </th>

    <th>
      Updated at
    </th>

    <th>
    </th>
  </tr>

  <% @contacts.each do |contact| %>
  <tr>
    <td>
      <%= contact.id %>
    </td>

    <td>
      <%= contact.name %>
    </td>

    <td>
      <%= contact.title %>
    </td>

    <td>
      <%= contact.company_id %>
    </td>

    <td>
      <%= contact.user_id %>
    </td>

    <td>
      <%= time_ago_in_words(contact.created_at) %> ago
    </td>

    <td>
      <%= time_ago_in_words(contact.updated_at) %> ago
    </td>

    <td>
      <a href="/contacts/<%= contact.id %>">
        Show details
      </a>
    </td>
  </tr>
  <% end %>
</table>
