<h1>
  My Contacts
</h1>

<a href="/contacts/new">
  Add a new contact
</a>

<hr>

<table class="table">
  <tr>

    <th>
      Name
    </th>

    <th>
      Title
    </th>

    <th>
      Company
    </th>
    
    <th>
    </th>
  </tr>

  <% @contacts.each do |contact| %>
  <% if contact.user_id == current_user.id %>
  <tr>
    <td>
      <%= contact.name %>
    </td>

    <td>
      <%= contact.title %>
    </td>

    <td>
      <a href="/companies/<%=contact.company_id%>">
        <%= Company.find(contact.company_id).name %>
      </a>
    </td>

    <td>
      <a href="/contacts/<%= contact.id %>">
        Show details
      </a>
    </td>
  </tr>
  <% end %>
  <% end %>
</table>
