<h1>
  All statuses
</h1>

<a href="/statuses/new">
  Add a new status
</a>

<hr>

<table class="table">
  <tr>
    <th>
      ID
    </th>

    <th>
      Name
    </th>

    <th>
      Created at
    </th>

    <th>
      Updated at
    </th>

    <th>
    </th>
  </tr>

  <% @statuses.each do |status| %>
  <tr>
    <td>
      <%= status.id %>
    </td>

    <td>
      <%= status.name %>
    </td>

    <td>
      <%= time_ago_in_words(status.created_at) %> ago
    </td>

    <td>
      <%= time_ago_in_words(status.updated_at) %> ago
    </td>

    <td>
      <a href="/statuses/<%= status.id %>">
        Show details
      </a>
    </td>
  </tr>
  <% end %>
</table>
