<div class="card mb-3">
  <div class="card-block pt-2 pl-2">
    <h4><%=@company.name%></h4>
    <p class="card-title"><%= Industry.find(@company.industry_id).name + " Industry"%></p>
  </div>
</div>

<hr>
<h3>Contacts at <%=@company.name%></h3>
<div class="card">
  <ul class="list-group list-group-flush">
    <%@company.contacts.each do |contact| %>
      <li class="list-group-item">
        <%= contact.name + " (" + contact.title + ")" %>
      </li>
    <%end%>
  </ul>
</div>
<hr>
<h4>Add a New Contact</h4>
<form action="/create_contact" method="post">
  <input type="hidden" name="user_id" value="<%=current_user.id%>">
  <input type="hidden" name="company_id" value="<%=@company.id%>">
  <div class="form-group">
    <label for="name">
      Name
    </label>
    <input type="text" class="form-control" name="name" id="name">
  </div>
  <div class="form-group">
    <label for="title">
      Title
    </label>
    <input type="text" class="form-control" name="title" id="title">
  </div>
  <button type="submit" class="btn btn-primary">Add Contact</button>
</form>

<hr>

<a href="/companies">
  Go back
</a>

<a href="/companies/<%= @company.id %>/edit">
  Edit company
</a>