<h3>Bookmarked Roles</h3>

<% @bookmarked_roles.each do |role| %>
  <div class="card mb-2">
    <div class="card-body pb-1 pt-3">
      <div class="float-left">
        <h5 class="card-title">
          <a href="/coveragroups/<%=Coveragegroup.find(role.coveragegroup_id).id%>"><%=Coveragegroup.find(role.coveragegroup_id).name%></a>
          <%=role.title%>
          <a href="/companies/<%=Company.find(role.company_id).id%>"><%=Company.find(role.company_id).name%></a>
          in
          <a href="/cities/<%=City.find(role.city_id).id%>"><%=City.find(role.city_id).name%></a>
        </h5>
      </div>
      <div class="float-right mr-1">
        <% if Bookmark.where(user_id: current_user.id).where(role_id: role.id).exists? %>
          <a href="/delete_bookmark/<%=Bookmark.where(user_id: current_user.id).where(role_id: role.id).first.id%>">
            <i class="fas fa-star"></i>
          </a>
        <% else %>
          <form action="/create_bookmark" method="post" id="myform">
            <input type="hidden" name="user_id" value="<%=current_user.id%>">
            <input type="hidden" name="role_id" value="<%=role.id%>">
            <input type="hidden" name="priority_id" value="2">
            <input type="hidden" name="status_id" value="1">
            <a href="#" onclick="document.getElementById('myform').submit()">
              <i class="far fa-star"></i>
            </a>
          </form>
        <% end %>
      </div>
    </div>
    <ul class="list-group list-group-flush">
      <% if role.to_dos.exists? %>
        <% role.to_dos.where(user_id: current_user.id).each do |todo| %>
          <li class="list-group-item">
            <div class="float-left">
              <a href="/delete_to_do/<%=todo.id%>"><i class="fas fa-trash-alt"></i></a>
              <%=todo.body%>
            </div>
            <div class="float-right">
              <% if todo.done == true %>
                <form action="/update_to_do/<%=todo.id%>" method="post">
                  <input type="hidden" name="user_id" value="<%=current_user.id%>">
                  <input type="hidden" name="role_id" value="<%=role.id%>">
                  <input type="hidden" name="done" value="<%=false%>">
                  <input type="hidden" name="body" value="<%=todo.body%>">
                  <button type="submit" style="border:0px;"><i class="far fa-check-square"></i></button>
                </form>
              <% else %>
                <form action="/update_to_do/<%=todo.id%>" method="post">
                  <input type="hidden" name="user_id" value="<%=current_user.id%>">
                  <input type="hidden" name="role_id" value="<%=role.id%>">
                  <input type="hidden" name="done" value="<%=true%>">
                  <input type="hidden" name="body" value="<%=todo.body%>">
                  <button type="submit" style="border:0px;"><i class="far fa-square"></i></button>
                </form>
              <% end %>
            </div>
          </li>
        <%end%>
      <%end%>
      <li class="list-group-item">
        <form action="/create_to_do" method="post">
          <input type="hidden" name="user_id" value="<%=current_user.id%>">
          <input type="hidden" name="role_id" value="<%=role.id%>">
          <input type="hidden" name="done" value="<%=false%>">
          <div class="input-group">
            <input type="text" class="form-control" name="body" placeholder="...add a todo">
            <button type="submit" class="btn btn-primary">Add Todo</button>
          </div>
        </form>
      </li>
    </ul>
  </div>
<%end%>
